.footer-container{
    background-color: #84A178;
}

.footer-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #FCFCFC;
}

.footer-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
}

.footer-social__items{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    fill: #84A178;;
    background: #F8D24E;
}

.footer-adress__items{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    color: #131313;
}

.footer-adress__tel{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    color: #FCFCFC;
}

.footer-rights{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    color: #7A7A7A;
}