.products {
  padding: 60px 20px;
  background-image: url(../images/bgd-product.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @include retina {
    background-image: url(../images/bgd-product2x.jpg);
  }

  @include tablet {
    padding: 60px 32px 82px;
  }
}

.products__pre-title {
  margin-bottom: 12px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;

  text-align: center;
  text-transform: uppercase;

  color: #131313;
}
.products__title {
  margin-bottom: 148px;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;

  color: #131313;
}

.products-list {
  text-align: center;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.product-list__item {
  position: relative;
  max-width: 280px;
  padding: 123px 40px 0 40px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

  background: #aec6a5;

  &:nth-child(1) {
    background-color: #aec6a5;
  }
  &:nth-child(2) {
    background-color: #efd478;
  }
  &:nth-child(3) {
    background-color: #d6936d;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 164px;
    }
  }

  @include tablet {
    max-width: 224px;
    width: calc((100% - 32px) / 3);
  }
}

.product-list__item::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: -50%;
  bottom: 50%;
  display: block;
  transform: translateY(42%);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url(../images/ice-cream.jpg);

  outline: 2px solid tomato;
}

.product-list__title {
  margin-bottom: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #131313;

  @include tablet {
    font-size: 22px;
    line-height: 1.23;
  }
}

.product-list__desc {
  margin-bottom: 70px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;

  color: #131313;
}

.product-list__btn {
}
.btn-icon {
}

.lining {
  position: absolute;
  top: -50%;
  bottom: 50%;
  display: block;
  transform: translateY(50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: aqua;
}
